body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

#logo {
    height: 50px;
    width: auto;
}

.margin-top {
    margin-top: 20px;
}

p {
    font-size: 23px;
}

.img-full {
    width: 100%;
    max-height: 400px;
}